.grid {
    position: relative;
    display: inline-block;
    height: 300px;
}
.grid table {
    border-collapse: collapse;
    left: 0;
    top: 0;
    width: 200px;
    height: 200px;
    float: center;
}
.grid table td {
    border: 1px solid red;
}
body {
    text-align: center;
}
h1 {
    font-family: Monoton;
    font-size: 70px;
    margin: 0.2em;
}
h2 {
    margin: 1em 0 0.25em;
}
